html, body {
height: 100%;
}

@font-face {
font-family: 'airstreamregular';
src: url('fonts/Airstream-webfont.eot');
src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/Airstream-webfont.woff') format('woff'),
url('fonts/Airstream-webfont.ttf') format('truetype'),
url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
font-weight: normal;
font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(149, 194, 215);
  font-size: 10px;
}

a {
text-decoration: none;
}
.main-header {
  flex: 0 1 auto;
}
.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.detail-image-container{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image {
  width: 90%;
}

.detail-image-frame{
  position: relative;
  text-align: center;

  transition: transform 333ms;
}

.is-tiny {
transform: scale(0.001);
transition: transform 0ms;
}

.detail-image-title{
  position: absolute;
  bottom: -16px;
  left: 4px;
  font-family: airstreamregular;
  color: white;
  text-shadow: rgba(0, 0, 0.9) 1px 2px 9px;
  font-size: 40px;
}

.hidden-detail .detail-image-container {
display: none;
}

.hidden-detail .thumbnail-list {
flex-direction: column;
align-items: center;
}
.hidden-detail .thumbnail-item {
max-width: 80%;
}

@media all and (min-width: 768px) {
.main-content {
  flex-direction: row;
  overflow: hidden;
}
.thumbnail-list {
  flex-direction: column;
  order: 0;
  margin-left: 20px;
  /* padding: 0 35px; */
}
.thumbnail-item {
  max-width: 260px;
}

.thumbnail-item + .thumbnail-item {
  margin-top: 20px;

}


.thumbnail-item {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);

  /* transition: transform 133ms ease-in; */
}
.thumbnail-item:hover {
  transform: scale(1.2);
}

.thumbnail-list{
  flex: 0 1 auto;
  order:2;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding:20px;

  white-space: nowrap;
  overflow-x:auto;
}

.thumbnail-image{
  display: block;
  width: 100%;
}

.thumbnail-title {
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 4px 10px;

}



.logo-text {
background: white;
font-size: 37px;
text-align: center;
text-transform: uppercase;

}
